input.invalid {
    background-image: linear-gradient(0deg,#d81212 1px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgb(255, 0, 0) 1px,transparent 0);
}

select.invalid {
    border-bottom: 1px solid #D81212;
}

.btn-in-line {
    margin-top: 32px;
}

.planos .plano.selecionado {
    background: #007bff;
    color: #FFF;
}
.planos .plano.selecionado .text-muted {
    color: #FFF!important;
}
.num {
    padding: 10px;
    background: #efefef;
    color:  #007bff;
    border-radius: 100px;
    padding: 2px 13px;
}